.well.nested-fields
  = f.input :image
  .image_preview.bottom-margin-1
    = image_tag(f.object.image.url(:default_thumb)) if f.object.image.present?
  = link_to_remove_association f, class: 'btn btn-danger btn-xs'